@import "../../style/mixins";

.service-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0px 2rem;
  margin-bottom: 2.5rem;
  @include tablet() {
    padding: 0px 15px;
  }

  .service-cards {
    .service {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 4rem 2rem;

      @include tablet() {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem 2.5rem;
      }
      .service-card {
        padding: 3rem 1.5rem 1rem 1rem;
        background: rgba(217, 223, 171, 0.3);
        -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
        box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
        border-top-right-radius: 50px;
        position: relative;

        .service-icon {
          position: absolute;
          top: -1.5rem;
          left: 3rem;
          background: var(--color-light);
          width: max-content;
          padding: 0.6rem 1rem;
          font-size: 18px;
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
        .service-card-content {
          h6 {
            font-weight: 700;
            letter-spacing: 1px;
          }
          p {
            color: #737371;
            font-size: 14px;
          }
        }
      }
    }
  }
}
