.mern-container {
  padding: 4rem 0;

  .mern-circles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    position: relative;
    background-image: url("../../assets/mern-bg.png");
    background-position: center;
    background-size: cover;
    height: 240px;

    .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: relative;
      animation: animate 5s ease-in-out infinite;
      -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
      box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);

      // circles with different height and width
      &:nth-child(1) {
        background: #53584b;
        animation-delay: -6s;
      }

      &:nth-child(2) {
        width: 90px;
        height: 90px;
        background: #f77f7b;
        animation-delay: -4s;

        img {
          width: 48%;
          height: 35%;
        }
      }

      &:nth-child(3) {
        width: 100px;
        height: 100px;
        background: #25628e;
        animation-delay: -2s;
      }

      &:nth-child(4) {
        width: 85px;
        height: 85px;
        background: #9ec04b;
      }

      img {
        width: 60%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
      }
    }
  }
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}
