.hero-top-bg {
  background-image: url("../../assets/bg.jpeg");
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  background-position: center;
  height: 400px;
  background-size: cover;
  .top-bg-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(30, 30, 40, 0.93) 0%,
      rgba(30, 30, 40, 0.96) 70%,
      rgba(30, 30, 40, 0.99) 80%,
      #1e1e28 100%
    );
  }
}

.hero-container {
  overflow: hidden;
  padding: 0 30px;
  position: relative;

  .hero-row {
    padding-top: 60px;
    padding-bottom: 0;
    .hero-banner {
      background-image: url("../../assets/bg.jpeg");
      background-size: cover;
      background-position: center;
      position: relative;
      box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
      z-index: 999;

      .hero-banner-back {
        position: absolute;
        content: "";
        z-index: 0;
        top: -40px;
        width: 90%;
        height: 40px;
        margin-left: 5%;
        -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
        box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background: rgba(30, 30, 40, 0.88);
      }

      .hero-banner-overlay {
        position: relative;
        display: flex;
        width: 100%;
        background-image: linear-gradient(
          90deg,
          rgba(45, 45, 58, 0.9) 15%,
          rgba(45, 45, 58, 0.7) 50%,
          rgba(43, 43, 53, 0.7) 100%
        );

        .banner-title {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 1rem;
          justify-content: center;
          height: 100%;
          padding: 60px;
          h1 {
            margin-bottom: 15px;
            color: var(--color-white);
            font-size: 52px;
            font-weight: 600;
          }
          div {
            margin-bottom: 10px;
            span {
              color: var(--color-orange);
              font-size: 20px;
            }
          }
          button {
            height: 50px;
            font-size: 14px;
            width: 150px;
            text-transform: uppercase;
            color: #20202a;
            background: var(--color-orange);
            letter-spacing: 1.5px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            transition: 0.4s ease-in-out;
            cursor: pointer;
          }
        }

        .hero-img {
          position: absolute;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
