.hero-top-bg {
  background-image: url("../../assets/bg.jpeg");
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  background-position: center;
  height: 400px;
  background-size: cover;
  .top-bg-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    // background-image: linear-gradient(
    //   180deg,
    //   rgba(30, 30, 40, 0.93) 0%,
    //   rgba(30, 30, 40, 0.96) 70%,
    //   rgba(30, 30, 40, 0.99) 80%,
    //   #1e1e28 100%
    // );
    background-image: linear-gradient(
      180deg,
      rgba(217, 223, 171, 0.93) 0%,
      rgba(217, 223, 171, 0.96) 70%,
      rgba(217, 223, 171, 0.99) 80%,
      #d9dfab 100%
    );
  }
}

.hero-container {
  overflow: hidden;
  padding: 0 30px;
  position: relative;
  height: 525px;
  //   background: #000;

  .hero-row {
    padding-top: 60px;
    padding-bottom: 0px;
    position: relative;
    .hero-banner {
      background-image: url("../../assets/bg.jpeg");
      background-size: cover;
      background-position: center;
      position: relative;
      box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
      -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
      z-index: 999;

      .hero-banner-back {
        position: absolute;
        content: "";
        z-index: 0;
        top: -40px;
        width: 90%;
        height: 40px;
        margin-left: 5%;
        -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
        box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        // background: rgba(30, 30, 40, 0.88);
        background: rgba(237, 226, 185, 0.88);
      }

      .hero-banner-overlay {
        position: relative;
        display: flex;
        width: 100%;
        // background-image: linear-gradient(
        //   90deg,
        //   rgba(45, 45, 58, 0.9) 15%,
        //   rgba(45, 45, 58, 0.7) 50%,
        //   rgba(43, 43, 53, 0.7) 100%
        // );

        background-image: linear-gradient(
          90deg,
          rgba(120, 125, 83, 0.6) 15%,
          rgba(148, 152, 118, 0.7) 50%,
          rgba(187, 179, 149, 0.7) 100%
        );

        .banner-title {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 1rem;
          justify-content: center;
          height: 100%;
          padding: 80px;
          h1 {
            margin-bottom: 0px;
            color: var(--color-white);
            font-size: 45px;
            font-weight: 600;
          }
          div {
            margin-bottom: 10px;
            span {
              color: var(--color-light);
              font-size: 20px;
              letter-spacing: 2px;
              font-weight: 700;
            }
          }
          button {
            height: 50px;
            font-size: 12px;
            width: 150px;
            text-transform: uppercase;
            color: #20202a;
            background: var(--color-light);
            letter-spacing: 2px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            transition: 0.4s ease-in-out;
            cursor: pointer;
          }
        }

        .hero-img {
          position: absolute;
          height: 100%;
          padding-top: 2rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .hero-info-container {
      width: 80%;
      height: 90px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
      // background: rgba(30, 30, 40, 0.3);
      background: rgba(217, 223, 171, 0.3);
      border: 1px solid var(--color-light);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      box-shadow: 0 3px 8px 0 rgb(15 15 20 / 15%);
      -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 15%);

      .hero-info-content {
        color: var(--color-white);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div {
          display: flex;
          align-items: center;
          gap: 1rem;
          .info-item-container {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: var(--color-light);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              font-size: 25px;
            }
          }

          span {
            margin-top: 1.2rem;
            h6 {
              color: var(--color-white);
            }
            p {
              color: var(--color-black);
            }
          }
        }

        .hero-info-divider {
          width: 2px;
          height: 35px;
          background-color: #737371;
        }
      }
    }
  }
}
