@import "../../style/mixins";

.hero-container {
  overflow: hidden;
  padding: 0 30px;
  position: relative;
  height: 525px;

  @include upToTablet() {
    padding: 0 15px;
  }
  @include mobile() {
    width: 100vw;
    height: 725px;
  }
  @include laptop() {
    height: 580px;
  }

  @include largeScreen() {
    height: 580px;
  }

  .hero-row {
    padding-top: 60px;
    padding-bottom: 0px;
    position: relative;
    @include upToTablet() {
      padding-top: 55px;
    }

    .hero-banner {
      background-image: url("../../assets/bg.jpeg");
      background-size: cover;
      background-position: center;
      position: relative;
      box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
      -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
      z-index: 1;
      .hero-banner-back {
        position: absolute;
        content: "";
        z-index: 0;
        top: -40px;
        width: 90%;
        height: 40px;
        margin-left: 5%;
        -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
        box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background: linear-gradient(
          160deg,
          rgba(237, 226, 185, 0.98) 0%,
          rgba(217, 223, 171, 0.98) 100%
        );

        @include upToTablet() {
          display: none;
        }
      }

      .hero-banner-overlay {
        position: relative;
        display: flex;
        width: 100%;
        background-image: linear-gradient(
          90deg,
          rgba(120, 125, 83, 0.6) 15%,
          rgba(148, 152, 118, 0.7) 50%,
          rgba(187, 179, 149, 0.7) 100%
        );

        .banner-title {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 1rem;
          justify-content: center;
          height: 100%;
          padding: 80px;
          @include upToTablet() {
            align-items: center;
            text-align: center;
          }
          @include largeScreen() {
            align-items: center;
            text-align: center;
          }

          h1 {
            margin-bottom: 0px;
            color: #f8f9f2;
            font-size: 45px;
            font-weight: 600;
            letter-spacing: 1px;
          }
          div {
            margin-bottom: 10px;
            span {
              color: var(--color-light);
              font-size: 20px;
              letter-spacing: 2px;
              font-weight: 700;
              @include mobile() {
                font-size: 16px;
              }
            }
          }
          button {
            height: 50px;
            font-size: 14px;
            width: 160px;
            text-transform: uppercase;
            color: #20202a;
            background: var(--color-light);
            letter-spacing: 2px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-bottom-right-radius: 30px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 2px;
            border-top-right-radius: 2px;
            transition: 0.4s ease-in-out;
            box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
            -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
            cursor: pointer;
            @include mobile() {
              width: 140px;
              font-size: 11px;
            }

            &:hover {
              transform: translateY(-3px);
              transition: 0.4s ease-in-out;
            }
          }
        }

        .hero-img {
          position: absolute;
          height: 100%;
          padding-top: 2rem;
          img {
            width: 100%;
            height: 100%;
          }

          @include upToTablet() {
            display: none;
          }
          @include largeScreen() {
            display: none;
          }
        }
      }
    }
    .hero-info-container {
      width: 80%;
      height: 80px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      background: rgba(217, 223, 171, 0.3);
      border: 1px solid var(--color-light);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      box-shadow: 0 3px 8px 0 rgb(15 15 20 / 15%);
      -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 15%);

      @include mobile() {
        position: relative;
        width: 100%;
        background: transparent;
        border: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        box-shadow: none;
        -webkit-box-shadow: none;
      }

      .hero-info-content {
        color: var(--color-black);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include mobile() {
          flex-wrap: wrap;
          justify-content: space-between;
        }
        div {
          display: flex;
          align-items: center;
          gap: 1rem;
          .info-item-container {
            position: relative;
            width: 45px;
            height: 45px;
            background-color: var(--color-light);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              font-size: 20px;
            }

            @include upToTablet() {
              width: 40px;
              height: 40px;
            }
          }
          span {
            margin-top: 1.2rem;
            h6 {
              color: var(--color-white);
              margin-bottom: 3px;
              @include mobile() {
                color: var(--color-main);
              }
            }
            p {
              color: var(--color-black);
            }
          }
        }
        .hero-info-divider {
          width: 2px;
          height: 35px;
          background-color: var(--color-gray);

          @include mobile() {
            display: none;
          }
        }
      }
    }
  }
}
