.main {
  position: relative;
  margin: auto 0rem auto 1.5rem;
  height: 97.5%;
  width: 100%;
  padding: 2rem 1rem;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(156, 156, 156, 0.37);
  color: var(--color-dark);
  transition: 1.5s ease;
  overflow-y: scroll !important;
}
