#skills {
  height: 100vh;
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 0;

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 8rem;
    position: relative;

    .skills-bottom {
      padding: 0 1rem;

      .container {
        padding: 1rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .card {
          position: absolute;
          width: 180px;
          height: 180px;
          background: rgba(255, 255, 255, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;

          &:nth-child(1) {
            top: 10%;
            left: 10%;
          }
          &:nth-child(2) {
            top: 50%;
            left: 15%;
          }
          &:nth-child(3) {
            top: 85%;
            left: 33%;
          }
          &:nth-child(4) {
            top: 85%;
            right: 33%;
          }
          &:nth-child(5) {
            top: 50%;
            right: 15%;
          }
          &:nth-child(6) {
            top: 10%;
            right: 10%;
          }

          .percent {
            position: relative;
            width: 150px;
            width: 150px;

            .dot {
              position: absolute;
              inset: 5px;
              z-index: 10;
              transform: rotate(calc(3.6deg * var(--num)));
              // 360 deg / 100 = 3.6
              animation: animateDot 2s linear forwards;

              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background: var(--color);
                top: -5px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                box-shadow: 0 0 10px var(--color), 0 0 30px var(--color);
              }
            }
            svg {
              position: relative;
              width: 150px;
              height: 150px;
              transform: rotate(270deg);

              circle {
                width: 100%;
                height: 100%;
                fill: transparent;
                stroke-width: 2;
                stroke: var(--color-dark);
                transform: translate(5px, 5px);

                &:nth-child(2) {
                  opacity: 0;
                  stroke: var(--color);
                  stroke-dasharray: 440;
                  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
                  animation: fadeIn 1s linear forwards;
                  animation-delay: 2.5s;
                }
              }
            }

            .number {
              position: absolute;
              inset: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              color: var(--color-dark);
              opacity: 0;
              animation: fadeIn 1s linear forwards;
              animation-delay: 2.5s;

              h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 2rem;

                span {
                  font-weight: 300;
                  font-size: 1.2rem;
                }
              }

              p {
                font-weight: 300;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
    .skills-top {
      padding: 2rem 0 4rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      user-select: none;
      height: 100%;

      .mern-circles {
        position: relative;
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        cursor: pointer;

        .skill-circle {
          position: absolute;
          height: 70px;
          width: 70px;
          border-radius: 50%;
          background-color: var(--color-white);
          box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
          transition: 0.2s ease;
          opacity: 0;

          img {
            width: 60%;
            height: 60%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
          }
        }
      }

      .mern-circles.active {
        animation: spin 25s linear infinite;

        .skill-circle {
          opacity: 1;

          &:hover {
            animation: none;
          }

          &:nth-child(1) {
            transform: translateY(-280%);
          }
          &:nth-child(2) {
            transform: translateY(280%);
          }
          &:nth-child(3) {
            transform: translateX(280%);
          }
          &:nth-child(4) {
            transform: translateX(-280%);
          }
          &:nth-child(5) {
            transform: translate(200%, 200%);
          }
          &:nth-child(6) {
            transform: translate(-200%, -200%);
          }
          &:nth-child(7) {
            transform: translate(-200%, 200%);
          }
          &:nth-child(8) {
            transform: translate(200%, -200%);
          }
        }
      }

      img {
        position: absolute;
        height: 18rem;
        width: 18rem;
        border-radius: 50%;
        z-index: 20;
        cursor: pointer;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
