@import "../../style/mixins";

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 30px 2rem;
  margin-bottom: 1rem;
  min-height: calc(100vh - 98px);

  @include trial() {
    padding: 70px 15px;
  }
  @include mobile() {
    padding: 100px 15px;
    width: 100vw;
  }

  .all-title {
    @include mobile() {
      text-align: center;
    }
  }

  .contact-cards {
    .contact {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.2rem;

      @include mobile() {
        margin: 0 auto;
        grid-template-columns: 1fr;
      }

      .contact-card {
        // border: 1px solid #c5a269;
        padding: 2rem 1.5rem;
        background: rgba(217, 223, 171, 0.3);
        -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
        box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
        position: relative;

        .contact-card-content {
          ul {
            padding: 0;
            li {
              list-style: none;
              display: flex;
              justify-content: space-between;
              h6 {
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 14px;
              }

              span {
                color: var(--color-gray);
                font-size: 14px;
                a {
                  text-decoration: none;
                  color: inherit;
                }
              }
            }
          }
        }
      }
    }
  }

  .contact-bottom-container {
    width: 98%;
    margin: 0 auto;
    background: rgba(217, 223, 171, 0.3);
    -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
    z-index: 1;
    .contact-form {
      width: 100%;
      padding: 2rem 1rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      div {
        width: 100%;
        cursor: pointer;
        position: relative;
        background-color: #f2f7fb;

        &:hover {
          -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
          box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
          transition: all 0.5s ease;
        }

        .icon-container {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: #ede2b9;
          height: 100%;
          width: max-content;
          padding: 1rem 1.2rem;
          margin-right: 10px;
          display: flex;
          align-items: center;
          svg {
            color: var(--color-black);
          }
        }

        input,
        textarea {
          width: 100%;
          padding: 1rem 4.2rem;
          border: none;
          background-color: var(--color-white);
          color: var(--color-gray);
          outline: none;
          transition: all 0.5s ease;
        }

        textarea {
          height: 150px;
        }
      }

      button {
        padding: 1rem 2rem;
        border: none;
        width: max-content;
        background-color: var(--color-main);
        color: var(--color-white);
        font-weight: 700;
        outline: none;
        cursor: pointer;
        margin: 1rem 0 0 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
        -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
        transition: 0.4s ease-in-out;

        &:hover {
          transform: translateY(-3px);
          transition: 0.4s ease-in-out;
        }
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
      }
    }
  }
}
