.header {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 6rem 2rem 0rem;

  @media screen and (min-width: 2000px) {
    padding-top: 9rem;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: 400px) {
    padding: 6rem 1rem 2rem;
  }

  .header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    margin: 0 2rem;

    @media screen and (max-width: 2000px) {
      width: 100%;
      margin-right: 0rem;
    }

    .header-badge {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;

      .badge,
      .tag {
        padding: 1rem 2rem;
        background: var(--color-white);
        border-radius: 15px;
        display: flex;
        align-items: center;
        width: auto;
        color: var(--color-dark);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }

      .badge {
        p {
          font-size: 18px;
        }

        h1 {
          font-size: 40px;
          font-weight: 600;
        }
      }

      .tag {
        margin-top: 1rem;
        flex-direction: column;

        p {
          width: 100%;
          text-transform: uppercase;
          text-align: right;
          font-weight: 500;
          width: 15rem;
        }
      }

      span {
        font-size: 2.5rem;

        @media screen and (min-width: 2000px) {
          font-size: 5rem;
        }
      }

      @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  .header-img {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    padding-bottom: 8rem;

    img {
      width: 100%;
      object-fit: contain;
      z-index: 1;
    }

    .overlay-circle {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: 1200px) {
      margin: 2rem 0;
    }
  }

  .header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;
    // margin-top: 8rem;

    div {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: var(--color-white);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      position: relative;

      img {
        width: 60%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    // circles with different height and width
    div:nth-child(1) {
      width: 100px;
      height: 100px;
    }

    div:nth-child(2) {
      margin: 1.75rem;
      width: 150px;
      height: 150px;
    }

    div:nth-child(3) {
      width: 70px;
      height: 70px;
    }

    @media screen and (min-width: 2000px) {
      div:nth-child(1) {
        width: 400px;
        height: 400px;
      }

      div:nth-child(2) {
        margin: 1.75rem;
        width: 170px;
        height: 170px;
      }

      div:nth-child(3) {
        width: 200px;
        height: 200px;
      }
    }
    @media screen and (max-width: 1200px) {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 0;

      div {
        margin: 1rem;
      }
    }
  }
}

.header-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  font-size: 3rem;

  i {
    color: var(--color-white);
    transition: 0.5s;

    &:hover {
      color: #1c2630;
      transition: 0.5s;
    }
  }

  &::after {
    content: "";
    width: 2px;
    height: 2rem;
    background: var(--color-dark);
  }
}

.header-mouse {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
  width: 35px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid var(--color-dark);
  pointer-events: none;
  z-index: 2;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 7px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--color-secondaryDark);
    animation: upDown 1s infinite;

    @keyframes upDown {
      0% {
        transform: translateY(-13px) translateX(-50%) scale(1.3);
      }
      10% {
        transform: translateY(-13px) translateX(-50%) scale(1.3);
      }
      50% {
        transform: translateY(-2px) translateX(-50%) scale(1);
      }
      100% {
        transform: translateY(-13px) translateX(-50%) scale(1);
      }
    }
  }
}
