@import "../style/mixins";

.app.dark {
  background: #191923;
  transition: all 1s ease-in-out;

  .all-title {
    h4 {
      span {
        background: var(--color-yellow);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .top-bg {
    .top-bg-overlay {
      background-image: linear-gradient(
        180deg,
        rgba(30, 30, 40, 0.93) 0%,
        rgba(30, 30, 40, 0.96) 70%,
        rgba(30, 30, 40, 0.99) 80%,
        #1e1e28 100%
      );
    }
  }

  // MAIN //
  .main {
    background: #1e1e28;
    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
    color: var(--color-white);
    .main-container {
      aside {
        background: var(--color-dark);
      }

      .main-layout {
        @include upToTablet() {
          .app-mobile-top-bar {
            background: var(--color-dark);

            .top-bar-nav {
              ul {
                li {
                  .active {
                    color: var(--color-yellow);
                  }
                }
              }
            }
          }
        }
        .main-wrapper {
          background: rgba(30, 30, 40, 0.88);
        }
      }
    }
  }
  // MAIN - END //

  // LEFTBAR //
  .leftbar-container {
    background: #20202a;
    .leftbar-top {
      .avatar {
        background: linear-gradient(
          159deg,
          rgba(37, 37, 50, 0.98) 0%,
          rgba(35, 35, 45, 0.98) 100%
        );
        -webkit-box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
        box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
        .avatar-image {
          img {
            border: 1px solid var(--color-white);
          }
          .avatar-light {
            .avatar-light-available {
              background: var(--color-yellow);
            }
          }
        }

        h5 {
          color: var(--color-white);
        }
        p {
          color: #8c8c8e;
        }
        .dark-mode-switch {
          input {
            background-color: var(--color-white);

            &:checked {
              background-color: var(--color-yellow);
              border-color: var(--color-yellow);
            }
          }
        }
      }
    }

    .leftbar-scroll-frame {
      .scroll-content {
        .leftbar-about-info {
          color: #8c8c8e;

          ul {
            li {
              h6 {
                color: var(--color-white);
              }
            }
          }
        }

        .leftbar-divider {
          background: #646466;
        }

        .leftbar-lang-skills {
          .lang-skill-item {
            .leftbar-circle-progress {
              h6 {
                color: var(--color-white);
              }
            }
          }
        }

        .leftbar-hard-skills {
          .hard-skill-item {
            .progress-bar-container {
              .hard-skill-header {
                h6 {
                  color: var(--color-white);
                }
              }
              .hard-skill-progress {
                .progress {
                  background: #191923;
                  span {
                    background: var(--color-yellow);
                  }
                }
                .progress-text {
                  color: #8c8c8e;
                }
              }
            }
          }
        }

        .leftbar-knowledge {
          li {
            color: #8c8c8e;

            &::before {
              color: var(--font-color-yellow);
            }
          }
        }
        .leftbar-link-container {
          .leftbar-link {
            color: #8c8c8e;
          }
        }
      }
    }

    .leftbar-social {
      background: linear-gradient(
        159deg,
        rgba(37, 37, 50, 0.98) 0%,
        rgba(35, 35, 45, 0.98) 100%
      );

      -webkit-box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
      box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);

      a {
        color: #8c8c8e;
        &:hover {
          color: var(--color-yellow);
        }
      }
    }
  }
  // LEFTBAR - END //

  // RIGHTBAR //
  .right-menu-bar {
    background: var(--color-dark);

    .right-menu-bar-container {
      .right-menu-bar-header {
        background: linear-gradient(
          159deg,
          rgba(37, 37, 50, 0.98) 0%,
          rgba(35, 35, 45, 0.98) 100%
        );
        .menu-bar-btn {
          span {
            background: var(--color-secondaryGray);
            &::after,
            &::before {
              background: var(--color-secondaryGray);
            }
          }
        }
      }

      .menu-bar-current-page {
        color: var(--color-secondaryGray);
      }

      .main-menu {
        .menu-item {
          a {
            color: var(--color-secondaryGray);
            &:hover {
              color: var(--color-yellow);
            }
          }
        }
        .menu-item.active {
          color: var(--color-yellow);
        }
      }
      .right-menu-bar-footer {
        background: linear-gradient(
          159deg,
          rgba(37, 37, 50, 0.98) 0%,
          rgba(35, 35, 45, 0.98) 100%
        );
      }
    }
  }
  // RIGHTBAR - END //

  // HERO SECTION //
  .hero-container {
    .hero-row {
      .hero-banner {
        .hero-banner-back {
          background: linear-gradient(
            159deg,
            rgba(37, 37, 50, 0.98) 0%,
            rgba(35, 35, 45, 0.98) 100%
          );
        }
        .hero-banner-overlay {
          background-image: linear-gradient(
            90deg,
            rgba(45, 45, 58, 0.9) 15%,
            rgba(45, 45, 58, 0.7) 50%,
            rgba(43, 43, 53, 0.7) 100%
          );
          .banner-title {
            h1 {
              color: var(--color-white);
            }
            div {
              span {
                color: var(--color-yellow);
              }
            }
            button {
              background: var(--color-yellow);
            }
          }
        }
      }
      .hero-info-container {
        background: rgba(30, 30, 40, 0.3);
        border: 1px solid var(--color-white);
        @include mobile() {
          position: relative;
          width: 100%;
          background: transparent;
          border: none;
          backdrop-filter: none;
          -webkit-backdrop-filter: none;
          box-shadow: none;
          -webkit-box-shadow: none;
        }
        .hero-info-content {
          color: var(--color-dark);
          div {
            .info-item-container {
              background: var(--color-yellow);
            }
            span {
              p {
                color: var(--font-color-yellow);
                font-size: 14px;
              }
            }
          }
          .hero-info-divider {
            background: var(--color-white);
          }
        }
      }
    }
  }
  // HERO SECTION - END //

  // SERVICES SECTION //
  .service-container {
    background: var(--color-darkSecondary);
    .service-cards {
      .service {
        .service-card {
          background: var(--color-card);
          .service-icon {
            background: var(--color-yellow);
            color: var(--color-dark);
          }
          .service-card-content {
            h6 {
              color: var(--color-white);
            }
            p {
              color: var(--color-secondaryGray);
            }
          }
        }
      }
    }
  }
  // SERVICES SECTION - END

  // PORTFOLIO SECTION //
  .work-container {
    .work-header {
      .work-filter {
        .work-filter-item {
          color: var(--color-secondaryGray);
          &:hover {
            color: var(--font-color-yellow);
            font-weight: 700;
          }
        }
        .item-active {
          color: var(--font-color-yellow);
        }
      }
    }

    .work-portfolio {
      .work-item {
        .work-img {
          .zoom-icon-container {
            &:hover {
              background: var(--color-yellow);
              svg {
                color: var(--color-dark);
              }
            }
            svg {
              color: var(--font-color-yellow);
            }
          }
        }
        .work-item-description {
          background: var(--color-card);
          div {
            h4 {
              color: var(--color-white);
            }
            p {
              color: var(--color-secondaryGray);
            }
          }
          .work-item-links {
            .external-links {
              .icon {
                background: var(--color-yellow);
              }

              svg {
                color: var(--color-card);
              }
            }
            .details {
              .detail {
                border: none;
                color: var(--font-color-yellow);
              }
            }
          }
        }
        .work-content {
          .work-tag {
            background: var(--color-card);
          }
        }
      }
    }
  }
  // PORTFOLIO SECTION - END //

  // SINGLE-PROJECT SECTION - START //

  .single-project-container {
    .project-section-title {
      .title-frame {
        .back {
          color: var(--font-color-yellow);
        }
      }
      .title-right {
        .category {
          color: var(--color-gray);
          background: var(--color-dark);
          -webkit-box-shadow: inset 0 3px 8px 0 rgb(15 15 20 / 20%);
          box-shadow: inset 0 3px 8px 0 rgb(15 15 20 / 20%);
        }
      }
    }

    .project-description {
      background: var(--color-card);
    }
  }

  // SINGLE-PROJECT SECTION - END //

  // JOURNEY SECTION //
  .journey-container {
    .journey-main {
      .education-col,
      .history-col {
        .journey-list {
          &::before {
            content: "";
            background: #191923;
          }
          .journey-timeline-item {
            &:hover {
              .journey-timeline-mark-light {
                background: #191923;
                &::before {
                  background: var(--color-white);
                }
              }
            }
            .journey-timeline-mark {
              border: solid 3px var(--font-color-yellow);
              background: #191923;
            }
          }
          .journey-item {
            background: var(--color-card);
            &::after {
              border-left: 10px solid var(--color-card);
            }
            p {
              color: var(--color-secondaryGray);
            }
            .journey-link {
              color: var(--color-yellow);
            }
            .journey-item-header {
              .journey-title {
                p {
                  color: var(--color-gray);
                }
              }
              .journey-date {
                p {
                  background: var(--color-darkSecondary);
                }
              }
            }
          }
        }
      }
    }
  }
  // JOURNEY SECTION - END //

  // CONTACT SECTION //
  .contact-container {
    .contact-cards {
      .contact {
        .contact-card {
          background: var(--color-card);
          .contact-card-content {
            ul {
              li {
                span {
                  color: var(--color-secondaryGray);
                }
              }
            }
          }
        }
      }
    }
    .contact-bottom-container {
      background: var(--color-card);
      .contact-form {
        div {
          background-color: var(--color-dark);
          .icon-container {
            svg {
              color: var(--color-secondaryGray);
            }
          }
          input,
          textarea {
            background: linear-gradient(159deg, #252532 0%, #23232d 100%);
            color: var(--color-secondaryGray);
          }
        }
        button {
          background: var(--color-yellow);
          color: var(--color-black);
        }
      }
    }
  }
  // CONTACT SECTION - END //

  // FOOTER //
  .footer {
    background: linear-gradient(
      159deg,
      rgba(37, 37, 50, 0.98) 0%,
      rgba(35, 35, 45, 0.98) 100%
    );

    .footer-content {
      p {
        color: var(--color-secondaryGray);
      }
    }
  }
  // FOOTER -END //
}
