.app.dark {
  transition: 1.5s ease;
  background: url("../assets/darkBG.jpeg") no-repeat fixed center;
  background-size: cover;
  color: var(--color-white);

  .sidebar {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.5);
    color: var(--color-white);

    hr {
      color: var(--color-white);
    }

    a {
      &:hover {
        background: rgba(46, 12, 121, 0.5);
      }
    }
  }

  .main {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.5);
    color: var(--color-white);
  }

  nav a.active {
    background: var(--color-purple);
    color: var(--color-white);
  }
}
