@import "../../style/mixins";

.footer {
  background: rgba(217, 223, 171, 0.3);
  padding: 17px 30px 7px;
  display: flex;
  align-items: center;
  margin: 0 2rem;
  width: 94.2%;
  height: 50px;
  box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
  font-size: 12px;

  .footer-content {
    p {
      margin-top: 7px;
      color: var(--color-gray);
    }
  }

  @include tablet() {
    background: rgba(217, 223, 171);

    margin: 0 auto;
  }
}
