@import "./style/mixins";

.app {
  background: url("./assets/lightBG.png") no-repeat center center;
  background-size: cover;
  transition: 1.5s ease;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  padding: 0 0.8rem 0 0;

  @include mobile() {
    flex-direction: column-reverse;
    padding: 0;
    min-height: 100vh;
  }
}

section {
  padding: 5rem 0;
}

ul {
  list-style: none;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;
  position: relative;

  &::before {
    content: " ";
    position: relative;
    left: -2%;
    width: 4rem;
    height: 2px;
    color: var(--color-dark);
    border: 1px solid;
  }

  span {
    color: var(--color-purple);
    margin-left: 0.5rem;
  }

  &::after {
    content: " ";
    position: relative;
    right: -2%;
    width: 4rem;
    height: 2px;
    color: var(--color-dark);
    border: 1px solid;
  }
}

.app-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
