:root {
  --color-white: #f8f9f2;
  --color-black: #010001;
  --color-dark: #20202a;
  --color-card: #2b2b36;
  --color-darkSecondary: #1e1e28;
  --color-yellow: #ffc107;
  --color-gray: #737371;
  --color-secondaryGray: #8c8c8e;
  --color-light: #ede2b9;
  --color-secondaryLight: #d0d280;
  --color-main: #c5a269;
  --box-shadow: 0 19px 60px rgb(0 0 0 / 8%);
  --smbox-shadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Gumela;
  src: url("../src/assets/font/Gumela\ Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gumela";
}

::-webkit-scrollbar {
  display: none;
}
