:root {
  --color-white: #fbfeff;
  --color-red: #b33f40;
  --color-dark: #0a0a0a;
  --color-purple: #6c5cd1;
  /* --color-light: #0eb8be; */
  --color-light: #9cbeab;
  --color-secondaryDark: #1e4c48;
  --color-secondaryLight: #d0d280;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/public/images/bg.jpeg") no-repeat fixed center;
  background-size: cover; */

  background: url("./assets/lightBackground.jpeg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

.app-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
