:root {
  --color-white: #fbfeff;
  --color-red: #b33f40;
  --color-dark: rgb(70, 70, 70);
  --color-black: #232b2b;
  --color-purple: #6c5cd1;
  /* --color-light: #0eb8be; */
  --color-light: #9cbeab;
  --color-secondaryDark: #1e4c48;
  --color-secondaryLight: #d0d280;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background: url("./assets/lightBG.png") no-repeat center center;
  background-size: cover;
  transition: 1.5s ease;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  padding: 0 0.8rem 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
