#work {
  padding: 5rem 0;
  min-height: max-content;
}

.works {
  width: 100%;
  display: flex;
  flex-direction: column;

  .work-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 1.5rem 0 2rem;

    .work-filter-item {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background: var(--color-white);
      color: var(--color-purple);
      font-weight: 800;
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 0.5rem;

      &:hover {
        background: var(--color-purple);
        color: var(--color-white);
      }
      @media screen and (min-width: 2000px) {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
      }
    }

    .item-active {
      background: var(--color-purple);
      color: var(--color-white);
    }
  }

  .work-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .work-item {
      width: 25%;
      height: 29rem;
      padding: 0.5rem;
      background: var(--color-white);
      margin: 2rem;
      flex-direction: column;
      border-radius: 0.5rem;
      color: var(--color-dark);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      }

      @media screen and (min-width: 2000px) {
        width: 30%;
        height: 34%;
        padding: 1rem;
      }
      @media screen and (max-width: 300px) {
        width: 100%;
        margin: 1rem;
      }

      .work-img {
        width: 100%;
        height: 100%;
        position: relative;
        flex: 1;

        img {
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
          object-fit: cover;
        }

        .work-img-links {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          border-radius: 1rem;
          opacity: 0;
          transition: all 0.3s ease;

          div {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.2);
            color: var(--color-white);
            margin: 1rem;
            font-weight: 800;
            cursor: pointer;
            transition: all 0.1s ease;
            align-items: center;

            svg {
              width: 50%;
              height: 50%;
              color: var(--color-white);
            }
          }
        }
      }
      .work-content {
        flex: 0.8;
        padding: 0.5rem 1rem;
        width: 100%;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;

        h4 {
          margin-top: 1rem;
          line-height: 1.5;
          font-weight: 700;
          text-align: center;
          font-size: 22px;
        }

        .work-tag {
          position: absolute;
          padding: 0.5rem 1rem 0 1rem;
          border-radius: 10px;
          background: var(--color-white);
          top: -28px;
        }
      }
    }
  }
}
