@import "../../style/mixins";

.work-container {
  padding: 30px 2rem;
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;

  .work-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    .work-filter {
      display: flex;
      flex-wrap: wrap;

      .work-filter-item {
        padding: 0.5rem 0.6rem;
        // background: var(--color-white);
        color: #737371;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s ease;
        letter-spacing: 2px;
        font-size: 12px;
        // margin: 0.5rem 0.8rem;
        // -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
        // box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);

        &:hover {
          // background: #a0965c;
          color: var(--color-black);
          font-weight: 700;
        }
        @media screen and (min-width: 2000px) {
          padding: 1rem 2rem;
          border-radius: 0.85rem;
        }
      }

      .item-active {
        // background: #a0965c;
        color: var(--color-black);
        font-weight: 700;
        transition: 0.5s all ease;
      }
    }
  }

  .work-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    .work-item {
      background: var(--color-white);
      margin: 0.8rem;
      flex-direction: column;
      color: var(--color-dark);
      cursor: pointer;
      transition: 0.5s ease-in-out;
      height: 290px;
      -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
      box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
      position: relative;
      overflow-y: hidden;
      filter: brightness(90%);

      &:hover {
        // box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        &:hover {
          filter: brightness(100%);
        }

        .work-item-description {
          transform: translateY(0);
        }
      }

      @media screen and (max-width: 300px) {
        width: 100%;
        margin: 1rem;
      }

      .work-item-description {
        position: absolute;
        z-index: 9;
        bottom: 0;
        width: 100%;
        height: 60%;
        padding: 25px 30px;
        background: linear-gradient(
          160deg,
          rgba(237, 226, 185, 0.98) 0%,
          rgba(217, 223, 171, 0.98) 100%
        );
        -webkit-box-shadow: 0 3px 15px 0 rgb(15 15 20 / 50%);
        box-shadow: 0 3px 15px 0 rgb(15 15 20 / 50%);
        transform: translateY(100%);
        transition: 0.55s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          h4 {
            font-size: 16px;
            font-weight: 600;
            color: var(--color-black);
            letter-spacing: 1px;
          }

          p {
            font-size: 14px;
            color: #737371;
          }
        }

        .work-item-links {
          display: flex;
          gap: 0.8rem;
          div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #5e5e49;
            color: var(--color-white);
            font-weight: 800;
            cursor: pointer;
            transition: all 0.1s ease;
            position: relative;

            &:hover {
              box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
            }

            svg {
              width: 50%;
              height: 50%;
              color: var(--color-white);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .work-img {
        width: 100%;
        height: 100%;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
      .work-content {
        padding: 0.5rem 1rem;
        width: 100%;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;

        h4 {
          margin-top: 1rem;
          line-height: 1.5;
          font-weight: 700;
          text-align: center;
          font-size: 22px;
        }

        p {
          text-align: center;
        }

        .work-tag {
          position: absolute;
          padding: 0.5rem 1rem 0 1rem;
          border-radius: 10px;
          background: var(--color-white);
          top: -28px;
          transition: 1.5s all ease;
        }
      }
    }
  }
}

@include laptop() {
  .works {
    .work-portfolio {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@include tablet() {
  .works {
    .work-portfolio {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mobile() {
  .works {
    .work-portfolio {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
