@import "../../style/mixins";

.work-container {
  padding: 30px 2rem;
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  @include upToTablet() {
    padding: 70px 15px;
  }

  .work-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    .all-title {
      @include upToTablet() {
        display: none;
      }
    }
    .work-filter {
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
      @include mobile() {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
      }

      .work-filter-item {
        padding: 0.5rem 0.4rem;
        color: var(color-gray);
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s ease;
        letter-spacing: 2px;
        font-size: 12px;

        &:hover {
          color: var(--color-black);
          font-weight: 700;
        }
      }

      .item-active {
        color: var(--color-black);
        font-weight: 700;
        transition: 0.5s all ease;
      }
    }
  }

  .work-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    @include upToTablet() {
      grid-gap: 15px;
    }
    @include mobile() {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }

    @include largeScreen() {
      grid-gap: 25px 0;
    }

    .work-item {
      margin: 0.8rem;
      display: flex;
      flex-direction: column;
      transition: 0.5s ease-in-out;
      height: 290px;
      -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
      box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
      overflow-y: hidden;
      filter: brightness(90%);
      @include upToTablet() {
        margin: 0;
        overflow-y: visible;
        height: 100%;
      }

      @include largeScreen() {
        height: 100%;
      }

      &:hover {
        filter: brightness(100%);

        .work-img {
          position: relative;

          .zoom-icon-container {
            display: block;

            svg {
              display: block;
              z-index: 1;
            }
          }
        }

        .work-item-description {
          transform: translateY(0);
        }
      }

      .work-img {
        width: 100%;
        height: 100%;
        position: relative;
        &:hover {
          cursor: pointer;
        }
        .zoom-icon-container {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-415%, -200%);
          width: 50px;
          height: 50px;
          border-radius: 40%;
          background: rgba(0, 0, 0, 0.6);
          &:hover {
            background: var(--color-secondaryLight);
            svg {
              color: var(--color-dark);
            }
          }
          svg {
            width: 30px;
            height: 30px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: var(--color-secondaryLight);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }

      .work-item-description {
        position: absolute;
        z-index: 9;
        bottom: 0;
        width: 100%;
        height: 55%;
        padding: 25px 30px;
        background: rgba(217, 223, 171);
        -webkit-box-shadow: 0 3px 15px 0 rgb(15 15 20 / 10%);
        box-shadow: 0 3px 15px 0 rgb(15 15 20 / 10%);
        transform: translateY(100%);
        transition: 0.55s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include upToTablet() {
          position: relative;
          transform: translateY(0);
          background: rgba(217, 223, 171, 0.6);
        }

        @include largeScreen() {
          height: 80%;
          padding: 20px;
        }
        .work-item-title {
          h4 {
            font-size: 16px;
            font-weight: 600;
            color: var(--color-black);
            letter-spacing: 1px;
            @include largeScreen() {
              font-size: 14px;
              letter-spacing: normal;
            }
          }

          p {
            font-size: 14px;
            color: var(--color-gray);
            @include largeScreen() {
              font-size: 12px;
            }
          }
        }

        .work-item-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .external-links {
            display: flex;
            gap: 0.8rem;
            background: transparent;

            .icon {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: #5e5e49;
              color: var(--color-white);
              font-weight: 800;
              cursor: pointer;
              transition: all 0.1s ease;
              position: relative;

              svg {
                width: 50%;
                height: 50%;
                color: var(--color-white);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }

              &:hover {
                box-shadow: 0 3px 8px 0 rgb(15 15 20 / 10%);
              }
            }

            @include largeScreen() {
              height: 30px;
              width: 30px;
            }
          }

          .details {
            .detail {
              background: transparent;
              text-decoration: underline;
              border: none;
              color: var(--color-dark);
            }
          }
        }
      }

      .work-content {
        padding: 0.5rem 1rem;
        width: 100%;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;

        h4 {
          margin-top: 1rem;
          line-height: 1.5;
          font-weight: 700;
          text-align: center;
          font-size: 22px;
        }

        p {
          text-align: center;
        }

        .work-tag {
          position: absolute;
          padding: 0.5rem 1rem 0 1rem;
          border-radius: 10px;
          background: var(--color-white);
          top: -28px;
          transition: 1.5s all ease;
        }
      }
    }
  }
}

@include laptop() {
  .works {
    .work-portfolio {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@include tablet() {
  .works {
    .work-portfolio {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mobile() {
  .works {
    .work-portfolio {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
